:root
{
    --primary-linear-gradient: linear-gradient(hsl(249, 99%, 64%) to hsl(278, 94%, 30%));
    --primary-error: hsl(0, 100%, 66%);
    --secondary-white: hsl(0, 0%, 100%);
    --secondary-light: hsl(270, 3%, 87%);
    --secondary-dark: hsl(279, 6%, 55%);
    --secondary-very-dark: hsl(278, 68%, 11%);
}

html
{
    font-size:  62.5%;
}

*,
*::before,
*::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    outline: none;


}


/* DESKTOP */

body
{
    overflow-x: hidden;

}
section
{
    display: flex;
    align-items: center;
    
}

/* CARDS FATHER DIV AND FORM FATHER DIV */
#left-top-background, #right-bottom-background /* GENERAL STYLE */
{
    display: flex;

    min-width: 345px;
    height: 100vh;

    position: relative;
}


#left-top-background /* SPECIFIC STYLE */
{
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
         
    width: 25%;
        min-width: 28rem;
        max-width: 45rem;  
          
    background: url(../images/bg-main-desktop.png);
    background-size: cover;
   
}

#right-bottom-background /* SPECIFIC STYLE */
{
    justify-content: center;
    align-items: center;

    width: 60%;
    margin-left: 5em;
}



/* CARDS STYLE */
#back-card, #front-card 
{
    position: relative;
    width: max(34.5rem, 24vw);
    height: max(18.441rem, 13vw);
    border-radius: 10px;
    border-radius: 10px;
}


 
#back-card  /* SPECIFIC STYLE */
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-inline: max(3vw, 4.2rem);
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    background: url(../images/bg-card-back.png) no-repeat;
    background-size: 100%;
    top: -2em;
    right: min(-10vw, -10em);
}

#front-card /* SPECIFIC STYLE */
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
    padding: min(20vw, 2rem);
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    background: url(../images/bg-card-front.png) no-repeat;
    background-size: 100%;
    background-position: right bottom;
    top: -4em;
    right: min(-6vw, -4em);
}

/* BACK CARD CONTENT STYLE */
#cvc
{
    font-size: max(1rem, 0.8vw);
    letter-spacing: 2px;
    color: var(--secondary-white);
    position: absolute;
}

/* FRONT CARD CONTENT STYLE */
#card-number
{
    position: relative;
    top: 1em;

    margin: 0;
}

#card-name p {
    font-size: max(1.05rem, .75vw); 
}

.cardname-cardexpire
{
    display: flex;
    justify-content: space-between;

    font-size: max(1.05rem, .75vw);  
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--secondary-white);

}


#card-exp-date p
{
    display: flex;
    letter-spacing: 2px;
    color: var(--secondary-white);
}

.logo
{
    width: max(5.5rem, 4.5vw);
}

.logo img {
    max-width: 100%;
}

#card-number p {
    font-size: clamp(2.2rem, 1.5vw, 3.5em);
    font-weight: 500;
    letter-spacing: 2px;
    color: var(--secondary-white);
}

/* forms style */
#card-info
{
    display: flex;
        flex-direction: column;
        
    width: min(50%, 30rem);

    position: relative;

    transition: 0.5s linear;
}

#card-info.opacity-animation
{
    opacity: 0;
}

#card-info.active
{
    display: none;
}


/* INPUTS BOX STYLE */

.input-box
{
    display: flex;
        flex-direction: column;
    
    width: 100%;
    margin-bottom: 2em;

}

/* INLINE INPUT BEHAVIOR STYLE */

.expire-cvc-box .input-box
{
    flex-direction: row;
    gap: 15%;
}


.outer-date-box
{
    display: flex;
    flex-direction: column;
    width: 45%;
}


.outer-date-box .input-box
{
    flex-direction: row;
    
}

.cvc-box
{
    display: flex;
    flex-direction: column;
    width: 40%;
}

/* LABEL */

label
{
    font-size: .97rem;
    text-transform: uppercase;
    color: var(--secondary-very-dark);
    
    padding: 5px;
}

/* INPUTS STYLE */
.input-box input[type="text"]
{
    padding: 10px;
    border: 1px solid var(--secondary-light);
    border-radius: 10px;

    font-size: 1rem;
    text-transform: capitalize;
    color: var(--secondary-very-dark);
}

.input-box input[type="text"]:focus
{
    border-color: transparent;
    border-width: 1px;
    border-style: solid;
    
    background: linear-gradient(white,white) padding-box, linear-gradient( hsl(249, 99%, 64%), hsl(278, 94%, 30%)) ;

}

/* CVC AND DATE SPECIFIC STYLE */
.date-box input[type="text"]
{
    width: 45%;
     min-width: 3em;
}

.cvc-box input[type="text"]
{
    width:100%;
        min-width: 6em;
}

::placeholder
{
    color: var(--secondary-dark);
    
}

/* SUBMIT  */

form input[type="submit"] 
{
    border: none;
    border-radius: 5px;
    padding: 15px;
    margin-top: 2rem;

    font-size: 1rem;
    color: white;

    background: var(--secondary-very-dark);
    
}


/* ERROR MESSAGE */


span
{
    display: block;
    width: 100%;
    position: relative;
}

.error-message
{
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 2px;
    color: var(--primary-error);
    position: absolute;
    transform: translateY(-150%);
}

/* Submitted message */

#submitted
{
    text-align: center;

    
    display: none;

}

#submitted.active
{
    display: block;
    opacity: 0;
    transition: 0.5s ease-in;
}

#submitted.opacity-animation
{
    opacity: 1;
}

#submitted h2
{
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--secondary-very-dark);
    
}

#submitted p
{
    margin-top: 2rem;

    font-size: 2rem;
    color: var(--secondary-dark);
    
}

#submitted input[type="submit"]
{
    width: 100%;
    border: none;
    border-radius: 5px;
    margin-top: 5rem;
    padding: 15px;

    font-size: 1rem;
    color: white;

    background: var(--secondary-very-dark);
    
}

/* errors field message */

 .emptyfield::before {
        display: block;
        margin-top: 5px;
        content: "*Can't be blank";
        color: var(--primary-error);
        position: absolute;
        top: -5px;
        right: 0;
        font-size: .8rem;
    }

.cardexpired::before
{
    display: block;
    
    margin-top: 5px;

    content: "Your card have been expired";

    color: var(--primary-error);

}

.invalidnumber::before
{
    display: block;
    margin-top: 5px;
    content: "*Invalid format!";
    font-size: .8rem;
    color: var(--primary-error);

    position: absolute;
    top: -5px;
    right: 0;
}


.invaliddate::before
{
    display: block;
    
    margin-top: 5px;

    content: "invalid month!";

    color: var(--primary-error);
}

/* larger medias STYLE*/

@media (min-width: 1650px)
{
    /* CARDS FATHER BOX SIZING AND FLEX BEHAVIOR */
    #left-top-background
    {
        width: 40vw;
            max-width: 40em;
        height: 100vh;

    }

    #right-bottom-background
    {
        justify-content: center;
    }

}

/* MOBILE */

@media (max-width: 760px)
{
    
    body
    {
        overflow-x: hidden;
        overflow-y: auto;
    }

    /* SECTION FLEX BEHAVIOR */

    section
    {
        flex-direction: column;
    }

    /* CARDS FATHER DIV STYLE */

    #left-top-background
    {
        flex-direction: column;

        width: 100%;
            min-width: 375px;
            max-width: 760px;
        height: 13em;

        background-image: url(../images/bg-main-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;

    }

    #right-bottom-background /* FORM FATHER STYLE */
    {
        justify-content: center;
        align-items: flex-start;

        min-height: 69vh;
        padding-top: 120px;

        left: 0;
    }

    /* CARDS STYLE */

    #back-card, #front-card
    {
        min-width: 375px;
        width: 30%;
        min-height: 194px;
    }
    #back-card
    {
        margin-right: -5%;
        
        top: 4em;
        right: 0;
    }

    #back-card #cvc
    {
        padding: 0 0.3em 0em 0;
        margin-top: 0.6em;
        font-size: 1rem;
        font-weight: 600;

    }

    #front-card 
    {
        margin-bottom: -2em;
        margin-left: -15%;

        top: 0em;
        right: 0;

        
    }

    #front-card #card-number
    {
        font-size: 1.4rem;

        top: 0.5em;
    }

    .logo
    {
        width: 4em;
    }

    .cardname-cardexpire
    {
        font-size: 0.8rem;
    }
    
    /* ERROR MESSAGE */


    .error-message
    {
        font-size: 0.8rem;
    }

}


@media (max-width: 545px)
{
    #back-card, #front-card
    {
        min-width: 17em;
        min-height: 9em;

    }

    #back-card
    {
        top: 3em;
        right: 0;
    }

    #front-card
    {
        top: 0em;
    }
    
    #front-card #card-number
    {
        font-size: 1.1rem;

        top: 0.5em;
    }

    .logo
    {
        width: 3em;
    }

    .cardname-cardexpire
    {
        font-size: 0.7rem;
    }

    #back-card #cvc
    {
        padding: 0 0.3em 0em 0;
        margin-top: 0.3em;

        font-size: 1rem;
        font-weight: 600;

    }
    
}