:root
{
    --primary-linear-gradient: linear-gradient(hsl(249, 99%, 64%) to hsl(278, 94%, 30%));
    --primary-error: hsl(0, 100%, 66%);
    --secondary-white: hsl(0, 0%, 100%);
    --secondary-light: hsl(270, 3%, 87%);
    --secondary-dark: hsl(279, 6%, 55%);
    --secondary-very-dark: hsl(278, 68%, 11%);
}

html
{
    font-size: 18px;
}

*,
*::before,
*::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    outline: none;


}


/* DESKTOP */

body
{
    overflow-x: hidden;
}
section
{
    display: flex;
    align-items: center;

    max-width: 100%;
    
}

/* CARDS FATHER DIV AND FORM FATHER DIV */
#left-top-background, #right-bottom-background /* GENERAL STYLE */
{
    display: flex;

    min-width: 345px;
    height: 100vh;

    position: relative;
}


#left-top-background /* SPECIFIC STYLE */
{
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
        
    width: 40%;
        max-width:345px;  
          
    background: url(../images/bg-main-desktop.png);
    background-size: cover;
   
}

#right-bottom-background /* SPECIFIC STYLE */
{
    justify-content: center;
    align-items: center;

    width: 60%;
    left: 5em;
}



/* CARDS STYLE */
#back-card 
,#front-card /* GENERAL STYLE */
{ 
    position: relative;

    max-width: 575px;
    min-height: 187px;

    border-radius: 5px;
    
}
 
#back-card  /* SPECIFIC STYLE */
{
    display: flex;
        justify-content: flex-end;
        align-items: center;

    padding-right: 40px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);

    background: url(../images/bg-card-back.png) no-repeat;
    background-size: 100%;

    top: -2em;
    right: -10em;
}

#front-card /* SPECIFIC STYLE */
{
    display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1em;

    padding: 20px;

    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    letter-spacing: 2px;
    color: var(--secondary-white);

    background: url(../images/bg-card-front.png) no-repeat;
    background-size: 100%;
    background-position: right bottom;
    
    top: -4em;
    right: -6em;
}
/* BACK CARD CONTENT STYLE */
#cvc
{
    font-size: 0.8rem;
    letter-spacing: 2px;
    color: var(--secondary-white);

    position: absolute;
    transform: translateY(-2px);
}

/* FRONT CARD CONTENT STYLE */
#card-number
{
    font-size: 1.2rem;
    font-weight: 500;

    position: relative;
    top: 1em;
}

.cardname-cardexpire
{
    font-weight: 300;
    text-transform: uppercase;
}



.cardname-cardexpire
{
    display: flex;
        justify-content: space-between;

    font-size: 0.6rem;
}

.logo
{
    width: 4em;
}

.logo img {
    max-width: 100%;
}


/* forms style */
#card-info
{
    display: flex;
        flex-direction: column;
        
    width: 22em;
    padding: 15px;
    
}

/* INPUTS BOX STYLE */

.input-box
{
    display: flex;
        flex-direction: column;
    
    width: 100%;
    margin-bottom: 2em;

}

/* INLINE INPUT BEHAVIOR STYLE */

.expire-cvc-box .input-box
{
    flex-direction: row;
    gap: 10px
}


.outer-date-box
{
    display: flex;
    flex-direction: column;
}


.outer-date-box .input-box
{
    flex-direction: row;
}

.cvc-box
{
    display: flex;
    flex-direction: column;
}

/* LABEL */

label
{
    font-size: 0.8rem;
    text-transform: uppercase;
    color: var(--secondary-very-dark);
    
    padding: 5px;
}

/* INPUTS STYLE */
.input-box input[type="text"]
{
    padding: 10px;
    border: 1px solid var(--secondary-light);
    border-radius: 10px;

    font-size: 1rem;
    text-transform: capitalize;
    color: var(--secondary-very-dark);
}

.input-box input[type="text"]:focus
{
    border-color: transparent;
    border-width: 2px;
    border-style: solid;

    background: linear-gradient(white,white) padding-box, linear-gradient( hsl(249, 99%, 64%), hsl(278, 94%, 30%)) border-box;
}

/* CVC AND DATE SPECIFIC STYLE */
.date-box input[type="text"]
{
    width: 4em;
}

.cvc-box input[type="text"]
{
    width: 11.52em;
}

::placeholder
{
    color: var(--secondary-dark);
    
}

/* SUBMIT  */

form input[type="submit"] 
{
    border: none;
    border-radius: 5px;
    padding: 15px;
    background: var(--secondary-very-dark);
    color: white;
    font-size: 1rem;
}

/* larger medias STYLE*/

@media (min-width: 1650px)
{

    /* CARDS FATHER BOX SIZING AND FLEX BEHAVIOR */
    #left-top-background
    {
        width: 40vw;
        max-width: 40em;
        height: 100vh;

    }

    #right-bottom-background
    {
        justify-content: center;
    }

    /* CARDS POSITION */
    #back-card, #front-card
    {
        width: 30em;
        height: 16em;

    }

    #back-card
    {
        right: -50%
    }

    #front-card
    {
        right: -30%;
    }

    /* FORM SIZING */

    #card-info
    {
        width: 25em;
        
    }

    /* LABEL */

    label
    {
        font-size: 0.9rem;
    }

    /* INPUTS STYLE */
    .input-box input[type="text"]
    {
        font-size: 1rem;

        padding: 0.8em;
    }
    .date-box input[type="text"]
    {
        width: 4em;
    }

    .cvc-box input[type="text"]
    {
        width: 14em;
    }

}
@media (min-width: 1100px)
{
    /* CARDS FATHER DIV SIZING */

    #left-top-background
    {
        min-width: 480px;

    }

    /* CARDS SIZING AND POSITION */
    #back-card, #front-card
    {
        min-width: 24.3em;
        min-height: 13em;
        border-radius: 10px;
        
    }

    #back-card
    {
        top: 2rem;
    }

    #front-card
    {
        padding: 29px;

        top: -1rem;
    }

    /* CARDS CONTENT */

    #card-number
    {
        font-size: 1.8rem;

        top: 0.8em;
    }

    #front-card .logo
    {
        width: 15em;
    }

    .cardname-cardexpire
    {
        font-size: 0.8rem;
    }

    #cvc
    {
        font-size: 1.1rem;

        transform: translateX(-25px);
    }
}


@media (max-width: 1099px)
{

    body
    {
        overflow-y: hidden;
    }
    /* CARD FATHER DIV STYLE */
    #left-top-background
    {
        min-width: 280px;
        max-width: 250px;

    }

    #right-bottom-background
    {
        left: 5em;
    }

     /* CARDS SIZING */

    #front-card,
    #back-card
    {
        min-width: 18em;
        min-height: 9.5em;
        border-radius: 10px;
    }

    /* CARDS POSITIONING */

    #front-card
    {
        right: -4em;
        top: -1em;
    }

    #back-card
    {
        right: -7em;
        top: 1em;
    }

    /* CARDS CONTENT */

    #cvc
    {
        padding: 0.3em 0 0 0;
    }

    #front-card #card-number
    {
        font-size: 0.95rem;

        top: 0.4em;
    }

    /* LOGO  */

    .logo
    {
        width: 3.2em;
    }

    /* FORM  */

    #card-info
    {
        width: 15em;
    }

    /* LABEL */
    label
    {
        font-size: 0.7rem;
    }

    /* INPUTS STYLE */

    .input-box input[type="text"]
    {
        padding: 15px;
        font-size: 1rem;
    }

    .date-box input[type="text"]
    {
        width: 3.42em;
    }

    .cvc-box input[type="text"]
    {
        width: 5.52em;
    }


}


/* MOBILE */


@media (max-width: 760px)
{
    
    body
    {
        overflow-x: hidden;
        overflow-y: auto;
    }

    /* SECTION FLEX BEHAVIOR */

    section
    {
        flex-direction: column;
    }

    /* CARDS FATHER DIV STYLE */

    #left-top-background
    {
        flex-direction: column;

        width: 100%;
            min-width: 375px;
            max-width: 760px;
        height: 30vh;
            min-height: 300px;

        background-image: url(../images/bg-main-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;

    }

    #right-bottom-background /* FORM FATHER STYLE */
    {
        justify-content: center;
        align-items: flex-start;

        min-height: 69vh;
        padding-top: 120px;

        left: 0;
    }

    /* CARDS STYLE */

    #back-card, #front-card
    {
        min-width: 375px;
        width: 30%;
        min-height: 194px;
    }
    #back-card
    {
        margin-right: -5%;
        
        top: 4em;
        right: 0;
    }

    #back-card #cvc
    {
        padding: 0 0.3em 0em 0;
        margin-top: 0.6em;
        font-size: 1rem;
        font-weight: 600;

    }

    #front-card 
    {
        margin-bottom: -5em;
        margin-left: -15%;

        top: 0.1em;
        right: 0;

        
    }

    #front-card #card-number
    {
        font-size: 1.3rem;

        top: 0.5em;
    }

    .logo
    {
        width: 4em;
    }

    .cardname-cardexpire
    {
        font-size: 0.8rem;
    }
    

}


@media (max-width: 545px)
{
    #back-card, #front-card
    {
        min-width: 17em;
        min-height: 9em;

    }

    #front-card
    {
        top: 0.4em;
    }
    
    #front-card #card-number
    {
        font-size: 1rem;

        top: 0.5em;
    }

    .logo
    {
        width: 3em;
    }

    .cardname-cardexpire
    {
        font-size: 0.7rem;
    }

    #back-card #cvc
    {
        padding: 0 0.3em 0em 0;
        margin-top: 0.3em;

        font-size: 1rem;
        font-weight: 600;

    }
    
}